.pp-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.pp-container {
    max-width: 800px;
    margin-top:  30px;
    margin-bottom:  30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pp-container h1, .pp-container h2, .pp-container h3 {
    color: #333;
}
.pp-container h1{
    font-size: 32px !important;
}
.pp-container h2{
    font-size: 20px !important;
}
.pp-container h3{
    font-size: 16px !important;
}
.pp-container p {
    color: #666;
}